<div class="support-page">
  <section class="margins">
    <div class="row range range-md-center  fadeInUpSmall wow slideInUp assistant animated" style="visibility: visible; animation-name: fadeInUpSmall;">
      <div class="col l6 s6 m6">
        <div class="col l12 m12 s12">
          <h4>Welcome to Rhemasoft Technologies Support.</h4>
        </div>
        <div class="col s12 m12 l12"> 
          <h6>Get fast, free assistance from our Virtual Agent.</h6>
        </div>
        <div class="col s12 m12 l12"> 
          <button class="btn" type="text" style="margin-top: 12px;">Ask Virtual Agent</button>
        </div>
      </div>
      <div class="col s6 m6 l6">
        <div class="responsive-img common-image"><img src="../../assets/image/assistant.svg" alt=""></div>
      </div>
    </div>
    <div class="container center animated fadeInUpSmall slideInUp">
      <h5>Which product do you need help with?</h5>
      <div class="row center">
        <div class="col l2 m3 s6">
           <a><i class="medium material-icons">account_balance</i></a>
          <h6 class="sub-heading-text">School Mgt. App</h6>
        </div>
        <div class="col l2 m3 s6"> 
            <a><i class="medium material-icons">fingerprint</i></a>
          <h6 class="sub-heading-text">Rhemasoft account</h6>
        </div>
        <div class="col l2 m3 s6">
            <a><i class="medium material-icons">add_shopping_cart</i></a>
          <h6 class="sub-heading-text">Rhemasoft Store</h6>
        </div>
        <div class="col l2 m3 s6"> 
          <a><i class="medium material-icons">adb</i></a>
          <h6 class="sub-heading-text">Xbox</h6>
        </div>
        <div class="col l2 m3 s6">
          <a><i class="medium material-icons">golf_course</i></a>
          <h6 class="sub-heading-text">PC games</h6>
        </div>
        <div class="col l2 m3 s6"> 
            <a><i class="medium material-icons">bug_report</i></a>
          <h6 class="sub-heading-text">Anti Virus</h6>
        </div>
        <div class="col l2 m3 s6">
            <a><i class="medium material-icons">laptop_chromebook</i></a>
          <h6 class="sub-heading-text">Laptop</h6>
        </div>
        <div class="col l2 m3 s6"> 
            <a><i class="medium material-icons">important_devices</i></a>
          <h6 class="sub-heading-text">Desktop</h6>
        </div>
        <div class="col l2 m3 s6">
            <a><i class="medium material-icons">apps</i></a>
          <h6 class="sub-heading-text">Mobile App</h6>
        </div>
        <div class="col l2 m3 s6"> 
            <a><i class="medium material-icons">local_mall</i></a>
          <h6 class="sub-heading-text">MyStore</h6>
        </div>
        <div class="col l2 m3 s6">
            <a><i class="medium material-icons">wifi</i></a>
          <h6 class="sub-heading-text">Networking</h6>
        </div>
        <div class="col l2 m3 s6"> 
            <a><i class="medium material-icons">developer_mode</i></a>
          <h6 class="sub-heading-text">OS</h6>
        </div>
      </div>
    </div>
    <section class="section-lg bg-white text-center bg-primary">
      <div class="container center  animated slideInUp">
        <div class="row range" style="visibility: visible; animation-name: fadeInUpSmall;">
          <div class="col s6 m3">
            <i class="large material-icons white-text">home</i>
            <h4 class="heading-text">ADDRESS</h4>
            <p class="white-text">Tantra Hill, Titus Glovar Avenue</p>
          </div>
          <div class="col s6 m3">
            <i class="large material-icons animated pulse infinite white-text">perm_phone_msg</i>
            <h4 class="heading-text">call us</h4>
            <p><a href="callto:#" class="white-text">(800) 123-0045 </a> <a href="callto:#" class="white-text"> (800) 123-0046</a></p>
          </div>
          <div class="col s6 m3">
            <i class="large material-icons white-text">message</i>
            <h4 class="heading-text">EMAIL US</h4>
            <p class="white-text">info@rhemasoftgh.com</p>
          </div>
          <div class="col s6 m3">
            <i class="large material-icons white-text">watch</i>
            <h4 class="heading-text">OPENING HOURS</h4>
            <p class="white-text">Mn-Fr: 10 am-8 pm</p>
          </div>
     </div>
    </div>
  </section>
  </section>
</div>
