<section class="bg-medium">
<div class="container center">
  <h4>BECOME A PARTNER TODAY</h4>
  <div class="row cards">
    <div class="col row-col m3">
      <div class="card first small center">
        <i class="medium material-icons">find_replace</i>
        <h4>Transparency</h4>
        <p>Keep track of all your transactions recorded and verified on the blockchain</p>
      </div>
    </div>
    <div class="col row-col m3">
        <div class="card first small center">
          <i class="medium material-icons">flight</i>
          <h4>Work for yourself</h4>
          <p>You can travel at any time of day. Monitor your business and employees online anywhere anytime</p>
          <!--<p>Keep track of all your transactions recorded and verified on the blockchain</p>-->
        </div>
    </div>
    <div class="col row-col m3">
      <div class="card first small center">
        <i class="medium material-icons">euro_symbol</i>
        <h4>Be ahead of competitors</h4>
        <p>We use advanced technologies to make your business profitable. Partnership is free</p>
      </div>
    </div>
      <div class="col row-col m3">
        <div class="card last small center">
          <i class="medium material-icons">fingerprint</i>
          <h4>State-of-the-art security</h4>
          <p>Store your funds safely in a digital wallet enhanced by advanced security features</p>
        <!--<p>Keep track of all your transactions recorded and verified on the blockchain</p>-->
        </div>
      </div>
  </div>
</div>
</section>
<section class="bg-large">
<div class="container">
<h3>Becoming our partner is easy</h3>
<h4>JOIN NOW!</h4>
<p>Fill out the simple form and send an application. We will contact you shortly</p>
<div class="row partner-form">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Enter your full name" id="fullName" type="text" class="validate">
        <label for="fullName">Name</label>
      </div>
      <div class="input-field col s6">
        <input placeholder="Enter name of your institution" id="companyName" type="text" class="validate">
        <label for="companyName">Institution</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Enter your email address" id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s6">
          <input placeholder="Enter your phone number" id="telephone" type="tel" class="validate">
          <label for="telephone">Telephone</label>
        </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
          <input placeholder="What does your company/institution do?" id="description" type="text" class="validate">
          <label for="description">Description</label>
      </div>
    </div>
    <a class="waves-effect waves-light btn">Send Application</a>
  </form>
</div>
</div>
</section>