<!--The content below is only a placeholder and can be replaced.-->
<header>
    <nav class="white z-depth-3">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <a href="/" class="valign-wrapper left">
            <img class="logo" src="../../assets/image/logo.png">
            <div class="brand-text black-text">Rhemasoft</div>    
          </a>
          
          <ul class="links hide-on-med-and-down">
            <li [routerLinkActive]="['active']"><a routerLink="/home" class="waves-effect">Home</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/services" class="waves-effect">Services</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/store" class="waves-effect">Store</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/news" class="waves-effect">News</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/partners" class="waves-effect">Partners</a></li>
            <li [routerLinkActive]="['active']"><a routerLink="/support" class="waves-effect">Support</a></li>
            
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a routerLink="/login" class="waves-effect"><i class="material-icons">perm_identity</i></a></li>
            <li><a routerLink="/login" class="waves-effect"><i class="material-icons">add_shopping_cart</i></a></li>
          </ul>
        </div>
      </nav>
      
      <ul class="sidenav" id="mobile-demo">
        <li [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/services">Services</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/store">Store</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/news">News</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/partners">Partners</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/support">Support</a></li>
        <li [routerLinkActive]="['active']"><a href="#"><i class="material-icons">input</i></a></li>
      </ul>
</header>
<main>
  <router-outlet></router-outlet>
</main>

<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l3 s6">
          <h5 class="white-text">Features</h5>
          <p class="grey-text">List your school on our platform for student to access their terminal result for free</p>
          <p class="grey-text">Use our management app to manage you school and hospital into profitability</p>
        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Company</h5>
          <p class="grey-text">Check out our White Paper and learn more about Rhemasoft</p>
          <p class="grey-text">We make I.T solutions available and affordable if it can't be free</p>
          
        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Solutions</h5>
          <!--<p class="grey-text text-lighten-4">Check out for our wide range of solutions for your business</p>-->
          <ul class="">
            <li><i class="tiny material-icons">insert_chart</i><a class="grey-text" href="/about"> Result Checker</a></li>
            <li><i class="tiny material-icons">school</i><a class="grey-text" href="/team"> School mgt. app</a></li>
            <li><i class="tiny material-icons">local_hospital</i><a class="grey-text" href="/news"> Hospital mgt. app</a></li>
            <li><i class="tiny material-icons">drive_eta</i><a class="grey-text" href="/support"> Car bay</a></li>
            <li><i class="tiny material-icons">local_atm</i><a class="grey-text" href="/support"> Crypto exchange</a></li>
          </ul>
        </div>
        <div class="col l3 s6">
          <h5 class="white-text">Support Area</h5>
          <ul>
            <li><a class="grey-text" href="#!">Didn't find the answer? Don't worry our support team can help!</a></li>
            <p></p>
            <li><a class="btn grey-text text-lighten-3 hoverable" href="#!">Get support</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col l3 s6">
          <a href="#!" class="valign-wrapper">
            <img class="logo" style="margin-top:5px" src="../../assets/image/logo.png">
            <div class="brand-text" style="color:#535762;">Rhemasoft</div>      
          </a>
          <span class="footer-credits center">
            © Copyright Rhemasoft Ltd. 2018
          </span>
        </div>
        <div class="col l6">
          <div class="categories-container col l12">
            <ul class="list-inline">
              <li><a routerLink="/about">About</a></li>
              <li><a routerLink="/team">Team</a></li>
              <li><a routerLink="/news">News</a></li>
              <li><a routerLink="/support">Support</a></li>
            </ul>
            <ul class="footer-tos list-inline">
              <li><a class="grey-text" routerLink="/data-protection">Data Protection Policy</a></li>
              <li><a class="grey-text" routerLink="/terms-and-conditions">Terms and Conditions</a></li>
            </ul>
          </div>
        </div>
        <div class="col l3 social-icons">
          <ul class="list-inline">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="#"><i class="fab fa-telegram-plane"></i></a></li>
            <li><a href="#"><i class="fab fa-medium-m"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook-messenger"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      Rhemasoft © 2018 All rights reserved
      <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      </div>
    </div>
  </footer>


