<div class="card">
    <div class="card-image">
      <img src="../../assets/image/news-headline.jpg" style="max-height:400px;">
      <span class="card-title heading"><h1>Rhemasoft has launched a life-changing app "Rhemasoft Result Checker"</h1></span>
      <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">arrow_forward_ios</i></a>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m8">
        <div class="row">
          <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="../../assets/image/mensgold.jpg">
                  <span class="card-title sub"><h2>Attack from clients forced shut down – Menzgold</h2></span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
                </div>
                <!--<div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>-->
              </div>
          </div>
          <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img src="../../assets/image/drone2.png">
                    <span class="card-title sub"><h2>Selfie Quadcopter Conquers Ghana. The Idea Is Genius...</h2></span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
                  </div>
                  <!--<div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                  </div>-->
                </div>
          </div>
          <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img src="../../assets/image/drone.jpg">
                    <span class="card-title sub"><h2>This Cheap Drone Is The Most Amazing Invention In 2018, Going Viral In Ghana Now...</h2></span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
                  </div>
                  <!--<div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                  </div>-->
                </div>
          </div>
          <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="../../assets/image/girlICT.jpg">
                  <span class="card-title sub"><h2>Hundreds gather to devise solutions for Africa’s growing digital gender gap</h2></span>
                  <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
                </div>
                <!--<div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>-->
              </div>
          </div>
          <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img src="../../assets/image/whatsapp.jpg">
                    <span class="card-title sub"><h2>WhatsApp to show adverts from 2019</h2></span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
                  </div>
                  <!--<div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                  </div>-->
                </div>
          </div>
          <div class="col s12 m4">
                <div class="card">
                  <div class="card-image">
                    <img src="../../assets/image/cowbell.jpg">
                    <span class="card-title sub"><h2>Cowbell takes it to the sky</h2></span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">chevron_right</i></a>
                  </div>
                  <!--<div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                  </div>-->
                </div>
          </div>
        </div>
    </div>
    <div class="col s12 m4">

    </div>
  </div>
<!--<section class="headline-news">
  <img src="../../assets/image/news-headline.jpg" style="max-height:500px; width: 100%">
  <div class="title">
    <a routerLink=".">
    <h1>Rhemasoft has launched a life-changing app "Rhemasoft Result Checker"</h1>
    </a>
  </div>
</section>-->
