<div class="container service-panel">
  <h4 class="center">WE CAN HELP YOU WITH ALL THESE NEEDS</h4>
  <div class="row">
    <div class="col l3 m4 s12">
      <div class="card center hoverable">
        <h4>Mobile app development</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
    <div class="col l3 m4 s12">
        <div class="card center  hoverable">
          <h4>Website development</h4>
          <p>Digital Wallet supporting 50+ cryptoassets</p>
        </div>
    </div>
    <div class="col l3 m4 s12">
        <div class="card center  hoverable">
          <h4>Graphic design</h4>
          <p>Digital Wallet supporting 50+ cryptoassets</p>
        </div>
    </div>
    <div class="col l3 m4 s12">
        <div class="card center  hoverable">
          <h4>Installations</h4>
          <p>Digital Wallet supporting 50+ cryptoassets</p>
        </div>
    </div>
  
    <div class="col l3 m4 s12">
      <div class="card center  hoverable">
        <h4>Point of Sale apps</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
    <div class="col l3 m4 s12">
      <div class="card center  hoverable">
        <h4>Search engine optimization</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
    <div class="col l3 m4 s12">
      <div class="card center  hoverable">
        <h4>Digital marketing</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
    <div class="col l3 m4 s12">
      <div class="card center  hoverable">
        <h4>Sale and repairs</h4>
        <p>We sell and repair computers laptops, workstations and computer accessories</p>
      </div>
    </div>
  </div>
</div>
<section class="features">
  <div class="container">
    <div class="row cards">
      <div class="col row-col m4">
        <div class="card small center">
          <i class="medium material-icons">devices_other</i>
          <h4>Amazing features</h4>
          <p>Keep track of all your transactions recorded and verified on the blockchain</p>
        </div>
      </div>
      <div class="col row-col m4">
        <div class="card small center">
          <i class="medium material-icons">wb_sunny</i>
          <h4>Beautiful, modern designs</h4>
          <p>Keep track of all your transactions recorded and verified on the blockchain</p>
        </div>
      </div>
      <div class="col row-col m4">
        <div class="card small center">
          <i class="medium material-icons">phonelink</i>
          <h4>Easy to set up</h4>
          <p>Keep track of all your transactions recorded and verified on the blockchain</p>
        </div>
      </div>
      <!--<div class="col m8 s10 offset-s1">
        <img src="../../assets/image/mac-frame-1247x764.png" class="responsive-img">
      </div>
      <div class="col m4 s10 offset-s1">
            <h4 class="heading-text">AMAZING FEATURES</h4>
            <h6 class="text-justify fadeInUpSmall slideInUp">Not all modern apps are made equal but our products have a lot of features that you may find useful.</h6>
            <ul>
              <li class="fadeInUpSmall slideInUp">
                <span class="icon linear-icon-screen linear"></span>
                <div class="heading-text linear-inline">BEAUTIFUL, MODERN DESIGN</div>
              </li>
              <li class="fadeInUpSmall slideInUp text-justify">Our apps offer our customers responsive and functional design that looks beautiful and modern in comparison with many other products on the market of free apps. </li>
              <li class="fadeInUpSmall slideInUp">
                <span class="icon linear-icon-laptop linear"></span>
                <div class="heading-text linear-inline">EASY TO SET UP</div>
              </li>
              <li class="fadeInUpSmall slideInUp text-justify">If you are looking for a specific app with a feature of extensive customization, our apps can become your perfect choice. From changing the look of the interface to installing new modules, we got you covered.</li>
            </ul>
      </div>-->
    </div>
  </div>
</section>
