<div class="container service-panel">
  <h2 class="center">WHAT DO WE DO</h2>
  <div class="row">
    <div class="col m3 s6">
      <div class="card center hoverable">
        <h4>Digital Wallet</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
    <div class="col m3 s6">
        <div class="card center  hoverable">
          <h4>Digital Wallet</h4>
          <p>Digital Wallet supporting 50+ cryptoassets</p>
        </div>
    </div>
    <div class="col m3 s6">
        <div class="card center  hoverable">
          <h4>Digital Wallet</h4>
          <p>Digital Wallet supporting 50+ cryptoassets</p>
        </div>
    </div>
    <div class="col m3 s6">
        <div class="card center  hoverable">
          <h4>Digital Wallet</h4>
          <p>Digital Wallet supporting 50+ cryptoassets</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col m3 s6">
      <div class="card center  hoverable">
        <h4>Digital Wallet</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="card center  hoverable">
        <h4>Digital Wallet</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="card center  hoverable">
        <h4>Digital Wallet</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
    <div class="col m3 s6">
      <div class="card center  hoverable">
        <h4>Digital Wallet</h4>
        <p>Digital Wallet supporting 50+ cryptoassets</p>
      </div>
    </div>
  </div>
</div>
<section class="features">
  <div class="container">
    <div class="row">
      <div class="col m8 s10 offset-s1">
        <img src="../../assets/image/mac-frame-1247x764.png" class="responsive-img">
      </div>
      <div class="col m4 s10 offset-s1">
            <h4 class="heading-text">AMAZING FEATURES</h4>
            <h6 class="text-justify white-text  fadeInUpSmall slideInUp">Not all modern apps are made equal but our products have a lot of features that you may find useful.</h6>
            <ul>
              <li class="fadeInUpSmall slideInUp">
                <span class="icon linear-icon-screen linear"></span>
                <div class="heading-text linear-inline">BEAUTIFUL, MODERN DESIGN</div>
              </li>
              <li class="fadeInUpSmall slideInUp text-justify white-text">Our apps offer our customers responsive and functional design that looks beautiful and modern in comparison with many other products on the market of free apps. </li>
              <li class="fadeInUpSmall slideInUp">
                <span class="icon linear-icon-laptop linear"></span>
                <div class="heading-text linear-inline">EASY TO SET UP</div>
              </li>
              <li class="fadeInUpSmall slideInUp text-justify white-text">If you are looking for a specific app with a feature of extensive customization, our apps can become your perfect choice. From changing the look of the interface to installing new modules, we got you covered.</li>
            </ul>
          
      </div>
    </div>
  </div>
</section>
