<div class="container service-panel">
  <h4 class="center">WE CAN HELP YOU WITH ALL THESE NEEDS</h4>
  <div class="row">
    <div class="col l3 m4 s12">
      <div class="card text-justify hoverable">
        <h4 class="heading-4">Mobile app dev't</h4>
        <p>Experts in mobile app dev't providing 
          professional services from mobile business applications 
          to entertainment applications
        </p>
      </div>
    </div>
    <div class="col l3 m4 s12">
        <div class="card text-justify  hoverable">
          <h4 class="heading-4">Website dev't</h4>
          <p>We create both dynamite and static web applications, offering
            services as front-end developers and back-end developers</p>
        </div>
    </div>
    <div class="col l3 m4 s12">
        <div class="card text-justify  hoverable">
          <h4 class="heading-4">Graphic design</h4>
          <p>We create visual concepts using computer software, to communicate 
            ideas that inspire, inform, and captivate consumers</p>
        </div>
    </div>
    <div class="col l3 m4 s12">
        <div class="card text-justify  hoverable">
          <h4 class="heading-4">Installations</h4>
          <p>Rhemasoft offers computer support services by installing both 
             hardware and software components of a computers</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col l3 m4 s12">
      <div class="card text-justify  hoverable">
        <h4 class="heading-4">Point of Sale apps</h4>
        <p>Committed in developing modern POS system 
          including customized mobile app for retail shops and supermarkets</p>
      </div>
    </div>
    <div class="col l3 m4 s12">
      <div class="card text-justify  hoverable">
        <h4 class="heading-4 center">S E O</h4>
        <p>Rhemasoft is well versed with the tactics of for optimization 
          affecting the online visibility of a website or webpage in web search engines</p>
      </div>
    </div>
    <div class="col l3 m4 s12">
      <div class="card text-justify  hoverable">
        <h4 class="heading-4">Digital marketing</h4>
        <p>Rhemasoft provides the platform for the marketing of products or 
          services using digital technologies</p>
      </div>
    </div>
    <div class="col l3 m4 s12">
      <div class="card text-justify  hoverable">
        <h4 class="heading-4">Sale and repairs</h4>
        <p>We also offer quality desktop and laptop computers to individuals and 
          firms at a very affordable price; coupled with 
          maintenance</p>
      </div>
    </div>
  </div>
</div>
<section class="features">
  <div class="container">
    <div class="row cards">
      <div class="col row-col m4">
        <div class="card small center">
          <i class="medium material-icons">devices_other</i>
          <h4>Amazing features</h4>
          <p>Keep track of all your transactions recorded and verified on the blockchain</p>
        </div>
      </div>
      <div class="col row-col m4">
        <div class="card small center">
          <i class="medium material-icons">wb_sunny</i>
          <h4>Beautiful, modern designs</h4>
          <p>Keep track of all your transactions recorded and verified on the blockchain</p>
        </div>
      </div>
      <div class="col row-col m4">
        <div class="card small center">
          <i class="medium material-icons">phonelink</i>
          <h4>Easy to set up</h4>
          <p>Keep track of all your transactions recorded and verified on the blockchain</p>
        </div>
      </div>
      <!--<div class="col m8 s10 offset-s1">
        <img src="../../assets/image/mac-frame-1247x764.png" class="responsive-img">
      </div>
      <div class="col m4 s10 offset-s1">
            <h4 class="heading-text">AMAZING FEATURES</h4>
            <h6 class="text-justify fadeInUpSmall slideInUp">Not all modern apps are made equal but our products have a lot of features that you may find useful.</h6>
            <ul>
              <li class="fadeInUpSmall slideInUp">
                <span class="icon linear-icon-screen linear"></span>
                <div class="heading-text linear-inline">BEAUTIFUL, MODERN DESIGN</div>
              </li>
              <li class="fadeInUpSmall slideInUp text-justify">Our apps offer our customers responsive and functional design that looks beautiful and modern in comparison with many other products on the market of free apps. </li>
              <li class="fadeInUpSmall slideInUp">
                <span class="icon linear-icon-laptop linear"></span>
                <div class="heading-text linear-inline">EASY TO SET UP</div>
              </li>
              <li class="fadeInUpSmall slideInUp text-justify">If you are looking for a specific app with a feature of extensive customization, our apps can become your perfect choice. From changing the look of the interface to installing new modules, we got you covered.</li>
            </ul>
      </div>-->
    </div>
  </div>
</section>
