
<div class="main">
  <div class="row valign-middle">
    <div class="col l12 m12 s12">
      <div class="captionSection center">
        <h1 class="headingTxt animated infinite">Welcome to Rhemasoft</h1>
        <h6 class="introTxt animated fadeInLeft">A place where we build fast and reliable mobile, web and desktop Apps for your business growth. The satisfaction of our customers is our pride, so we serve you better.</h6>
        <div class="ctaSection">
          <!--<a href="//exchange.rhemasoftgh.com" class="btn animated rotateInDownLeft">Trade Now</a>-->
        </div>
      </div>
      <div class="container">
        <div class="carousel">
          <a class="carousel-item" href="#one!"><img src="../../assets/image/mobile-slide-1-1920x1080.png"></a>
          <a class="carousel-item" href="#two!"><img src="../../assets/image/mobile-slide-2-1920x1080.png"></a>
          <a class="carousel-item" href="#three!"><img src="../../assets/image/mobile-slide-3-1920x1080.png"></a>
          <a class="carousel-item" href="#four!"><img src="../../assets/image/mobile-slide-4-1920x1080.png"></a>
          <a class="carousel-item" href="#five!"><img src="../../assets/image/mobile-slide-5-1920x1080.png"></a>
        </div>
      </div>
    </div>
    <div class="container row center">
      <!--<div class="row center">-->
       <div class="col l3 m3 s12">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/image/results.jpeg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text">Result Checker<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Result Checker<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
                <!--<div>
                  <a href="#" class="waves-effect waves-light btn right bottom">view</a>
                </div>-->
              </div>
          </div>
       </div>
       <div class="col l3 m3 s12">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/image/crypto-exchange-318x159.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text">Crypto Exchange<i class="material-icons right">more_vert</i></span>
                </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Cryptocurrency exchange<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
            </div>
       </div> 
       <div class="col l3 m3 s12">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/image/car-bay.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text">Car Bay<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Car Bay<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
          </div> 
       </div> 
       <div class="col l3 m3 s12">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/image/school-mgt.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text">School Mgt.<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">School Management<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
          </div>
       </div> 
      <!--</div>-->
      <!--<div class="row center">-->
       <div class="col l3 m3 s12">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/image/hospital-mgt318x159.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text">Hospital Mgt.<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Hospital Management<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
          </div>
       </div> 
       <div class="col l3 m3 s12">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/image/Eat24.png">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text">Food order App<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Food Order<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
          </div>
       </div> 
       <div class="col l3 m3 s12">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/image/electronics.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text">Online Shopping<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Online Shopping<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
          </div>
       </div> 
       <div class="col l3 m3 s12">
          <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../../assets/image/groceries-online.jpg">
              </div>
              <div class="card-content">
                <span class="card-title activator grey-text">Groceries online<i class="material-icons right">more_vert</i></span>
              </div>
              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Groceries Online<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>
          </div>
       </div>  
      <!--</div>-->
    </div>
  </div>
  <!--<div class="container notif">
    <div class="row">
        <div class="col l3 m4 s12 offset-l1 notif-div valign-wrapper z-depth-1 hoverable animated fadeInLeft">
            <p>Result Checker for JHS and SHS.</p>
            <span class="btn-floating pulse">
              <i class="material-icons">arrow_forward</i>
            </span>
          </div>
          <div class="col l3 m4 s12 notif-div valign-wrapper z-depth-1 hoverable animated slideInUp">
            <p>Buy and sell bitcoin with cedis</p>
            <span class="btn-floating pulse">
              <i class="material-icons">arrow_forward</i>
            </span>
          </div>
          <div class="col l3 m4 s12 notif-div valign-wrapper z-depth-1 hoverable animated fadeInLeftBig">
            <p>Rent, sell and buy cars from abroad</p>
            <span class="btn-floating pulse">
              <i class="material-icons">arrow_forward</i>
            </span>
          </div>
    </div>
    
  </div>-->
</div>
<div class="clients-area section-box grey lighten-5">
  <!--<h4 class="center">Rhemasoft corporate partners</h4>-->
  <div class="content-clients-area cf content-partners">
    <div class="row cf valign-wrapper">
      <ul class="col m12 s12 valign-wrapper linha-horizontal">
        <li class=""><img class="partner-logo responsive-img" src="../../assets/image/microsoft-80658_960_720.png"></li>
        <li class=""><img class="partner-logo responsive-img" src="../../assets/image/google-logo-874x288.png"></li>
        <li class=""><img class="partner-logo responsive-img" src="../../assets/image/800px-EBay_logo.png"></li>
        <li class=""><img class="partner-logo responsive-img" src="../../assets/image/yandex-russian-search.png"></li>
        <!--<li class="bg-google_for_entrepeneurs_small"></li>
        <li class="bg-logoblackbox_small_2"></li>
        <li class="bg-futurecom_small"></li>
        <li class="bg-emerge2_small"></li>-->
      </ul>
    </div>
  </div>
</div>
<section class="section-lg center .background" id="section-see-features">
  <div class="container animated fadeInUp">
    <div class="row center">
      <div class="col m10 l8 offset-l2">
        <h3 class="heading-3">SIMPLE. STUNNING. SMART</h3>
        <h5>Our success is driven by the highest quality customer service.
          We can meet the requirements even of the whimsical clients; there
          are no complex tasks for us! Thanks for your choice.
        </h5>
      </div>
    </div>
    <div class="container fadeInUp">
      <div class="row">
        <div class="col l4 s12 cell">
          <img class="heading-icons" src="../../assets/image/mt-0626-home-icon5.png" alt="">
          <h4 class="heading-text">FULLY RESPONSIVE</h4>
          <p class="simple">Our apps have fully responsive interface and
            design that allow our users to run our products
            on any modern device or gadget, with all their 
            function available on the any platform.
          </p>
        </div>
        <div class="col l4 s12 cell">
          <img class="heading-icons animated pulse infinite" src="../../assets/image/mt-0626-home-icon6.png" alt="">
          <h4 class="heading-text">UNIQUE DESIGN</h4>
          <p class="simple">With so many mobile apps being release in such
            a short period of time, our designers manage
            to create really catchy and unique designs
            for our products to stand out.
          </p>
        </div>
        <div class="col l4 s12 cell">
          <img class="heading-icons animated rotateIn" src="../../assets/image/mt-0626-home-icon7.png" alt="">
          <h4 class="heading-text">24/7 SUPPORT</h4>
          <p class="simple">Soft App support center provides full support 
            and essentail maintenance to ensure issues
            you may have are eliminated early and you get
            the maximum comfort from using our apps.          
          </p>
        </div>
    </div>
  </div>
  </div>
</section>
<section class="center subscribe">
  <div class="layer">
      <h3>STAY UP TO DATE</h3>
      <div class="row">
        <h6 class="col l6 m8 s12 offset-l3 subscribe-sub">Sign up for our newsletter. Keep up-to-date with our news, shopping promo, announcements, new apps, token listings, and more.</h6>
      </div>
      <div class="row">
          <form class="col l6 s12 offset-l3">
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email" class="grey-text lighten-5">Email</label>
                <span class="helper-text white-text" data-error="wrong" data-success="right">Please enter your email address and click subscribe</span>
              </div>
              <a class="btn grey-text text-lighten-3 hoverable" href="#!">Subscribe</a>
            </div>
          </form>
      </div>
  </div>
  
</section>






